@inherits LayoutComponentBase
<PageTitle>RoboDeApostas</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>
    <main>

        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            <CascadingValue Value="casas"> 
                @Body
            </CascadingValue>
        </article>
    </main>
    <BlazoredToasts />
</div>
@code {
    private List<CasaDeAposta> casas = new() { new Betano(), new Betway(), /*new Betfair(),*/ new Bet365(), new SportingBet()/*, new Sportsbet_IO()*/ };
}