@inject DatabaseContext context
@inject NavigationManager NavigationManager
@inject IToastService toastService
@page "/liga/edit/{id}"

<h3>Edit</h3>

<DisplayModel liga="this.liga" />
<button class="btn btn-primary" @onclick="this.Salvar">Salvar</button>

@code {
    [Parameter]
    public string id { get; set; }
    private Liga liga = new();

    protected override void OnInitialized()
    {
        this.liga = context.Liga.Find(int.Parse(this.id));
    }

    public void Salvar()
    {
        try
        {
            context.Liga.Update(liga);
            context.SaveChanges();
            NavigationManager.NavigateTo("liga");
        }
        catch (Exception e)
        {
            toastService.ShowError(e.Message);
            toastService.ShowError(e.InnerException.Message);
        }
    }
}
